code/Sentiment_Analysis_workflow.json
{
  "name": "Sentiment Analysis finalized",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cc2fb20a-fc53-4ae6-9a66-40f9021780b0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HFcd750LLJBMC2gv0Ot7eY01uPI1ovuTmbhOeicBlOk",
          "mode": "list",
          "cachedResultName": "Positive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HFcd750LLJBMC2gv0Ot7eY01uPI1ovuTmbhOeicBlOk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HFcd750LLJBMC2gv0Ot7eY01uPI1ovuTmbhOeicBlOk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Positive": "={{ $json.sentiment }}"
          },
          "matchingColumns": [
            "Positives evals"
          ],
          "schema": [
            {
              "id": "Positive",
              "displayName": "Positive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1840,
        -16
      ],
      "id": "f52a6bc1-65c4-41e3-b5ae-15e8533c4e0e",
      "name": "Positive",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vGp9szxQUXvYy8ix",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Nik-b8DzCpW5zY1EYvyv6rQX-vx-3frgIn9BMyR__EI",
          "mode": "list",
          "cachedResultName": "Negative",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nik-b8DzCpW5zY1EYvyv6rQX-vx-3frgIn9BMyR__EI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nik-b8DzCpW5zY1EYvyv6rQX-vx-3frgIn9BMyR__EI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Negative": "={{ $json.sentiment }}"
          },
          "matchingColumns": [
            "Negative"
          ],
          "schema": [
            {
              "id": "Negative",
              "displayName": "Negative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1840,
        224
      ],
      "id": "8666a537-2183-4216-affe-b0d9ed86b917",
      "name": "Negative",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vGp9szxQUXvYy8ix",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o1x5yokAMDRFw2oYK4yrqO2RUIJ0jA-nlhulbvKB31I",
          "mode": "list",
          "cachedResultName": "Neutral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o1x5yokAMDRFw2oYK4yrqO2RUIJ0jA-nlhulbvKB31I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o1x5yokAMDRFw2oYK4yrqO2RUIJ0jA-nlhulbvKB31I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Neutral": "={{ $json.sentiment }}"
          },
          "matchingColumns": [
            "Neutral"
          ],
          "schema": [
            {
              "id": "Neutral",
              "displayName": "Neutral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1840,
        464
      ],
      "id": "33c5bffc-c99b-4c77-8cb4-0546261c1001",
      "name": "Neutral",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vGp9szxQUXvYy8ix",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6946f5ea-0dcd-494c-9cda-cae2f382a0c8",
              "leftValue": "={{ $json.sentiment }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e39f100e-2116-46a1-a638-7a70dca9835f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        0
      ],
      "id": "3d3e950f-d3f4-4856-8492-f955f9e191ca",
      "name": "IF POSITIVE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dcc7103b-8e92-40ac-bca3-19ea02d49f8e",
              "leftValue": "={{ $json.sentiment }}",
              "rightValue": "Negative",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        208
      ],
      "id": "6c4d5105-7c47-4950-a3c3-417b106471ae",
      "name": "IF NEGATIVE "
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -80
      ],
      "id": "df514b5b-f0a8-4ec1-96b7-06a1bc3f53ea",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_4kIf0H2a2VG3Nfuhea8QoEYQ",
          "mode": "list",
          "cachedResultName": "Lyra_sentiment_analysis"
        },
        "prompt": "define",
        "text": "={{ $json.Text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        656,
        -64
      ],
      "id": "a081ab3b-9d38-484b-9dae-7c5587285565",
      "name": "Message a model GPT 4.1 nano",
      "credentials": {
        "openAiApi": {
          "id": "pfKjlJVuaInfVQmJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        0
      ],
      "id": "403abb08-94d2-484c-9a40-2d076efce74b",
      "name": "Wait 500 mS",
      "webhookId": "311f8e65-236f-4208-9869-4253397f941f"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($json.output);\nreturn { sentiment: parsed.sentiment };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "c416c1c8-1c38-4abe-80ff-cee6184682be",
      "name": "JS parsing"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HNrkxH0iPJDYSOULNNf1d-eJUSNCON3MbGzS-vGGdeo",
          "mode": "list",
          "cachedResultName": "Text_to_analyze",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HNrkxH0iPJDYSOULNNf1d-eJUSNCON3MbGzS-vGGdeo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HNrkxH0iPJDYSOULNNf1d-eJUSNCON3MbGzS-vGGdeo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        224,
        0
      ],
      "id": "ab5ef55f-8aeb-49e8-8510-cf8c3af04041",
      "name": "Get Comments",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vGp9szxQUXvYy8ix",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF POSITIVE": {
      "main": [
        [
          {
            "node": "Positive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF NEGATIVE ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF NEGATIVE ": {
      "main": [
        [
          {
            "node": "Negative",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neutral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neutral": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Message a model GPT 4.1 nano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negative": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positive": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model GPT 4.1 nano": {
      "main": [
        [
          {
            "node": "JS parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 500 mS": {
      "main": [
        [
          {
            "node": "IF POSITIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS parsing": {
      "main": [
        [
          {
            "node": "Wait 500 mS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comments": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84d54da5-074d-4c93-93c0-cdc4b34a7ffd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f06125026a9b558f57ce462e33a4980734204a6d150181a74eeca2e3901bc35"
  },
  "id": "PE6qFPNuR75t5cC9",
  "tags": []
}